
BEGIN;

-- Ensure dossiers has appropriate RLS for all involved roles
DROP POLICY IF EXISTS "Dossiers access for all workflow users" ON public.dossiers;

CREATE POLICY "Dossiers access for all workflow users"
ON public.dossiers FOR ALL
TO authenticated
USING (
  EXISTS (
    SELECT 1 FROM public.user_roles 
    WHERE user_id = auth.uid() 
    AND role::text IN (
      
'
super_admin
'
, 
'
admin_etat
'
, 
'
directeur_general
'
, 
'
directeur_adjoint
'
, 
      
'
secretariat_direction
'
, 
'
agent_technique_aval
'
, 
'
chef_service_aval
'
, 
      
'
directeur_aval
'
, 
'
directeur_adjoint_aval
'
, 
'
directeur_administratif
'
, 
      
'
chef_service_administratif
'
, 
'
directeur_juridique
'
, 
'
juriste
'
, 
      
'
charge_conformite
'
, 
'
gestionnaire_documentaire
'

    )
  )
)
WITH CHECK (true);

COMMIT;

